.the-list{
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.the-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.the-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-list-split .ant-list-item:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}